
.nav {
    margin-top: 2px;
    color: #00b0ff;
}

nav {
    border-bottom-color: solid #393c3d
}

.nav a {
    color: #00b0ff;
}

.jumbotron {
    border: 1px solid #dbdbdb;
    content-positioning:50% 50%;
    content-positioning-anchor:50% 50%;
}

.jumbotron h1 {
  color: #393c3d;
  font-size: 48px;  
  font-family: 'Shift', sans-serif;
  font-weight: bold;
}

.jumbotron p {
  font-size: 20px;
  color: #00b0ff;
}

.jumbotron a {
    color: #00b0ff;
}

.sub-sections {
  background-color: #f7f7f7;
  border: 1px solid #dbdbdb;
}

.sub-sections h3 {
  font-family: 'Shift', sans-serif;
  font-size: 18px;
  font-weight: bold;
}

.sub-sections a {
  color: #00b0ff;
}

.skillset {
  background-color: #efefef;
  border: 1px solid #dbdbdb;
}

.skillset h2 {
    color: #393c3d;
    font-size: 24px;
}

.skillset p {
    font-size: 15px;
    margin-bottom: 13px;
}

.btn-group {
    width: 88px;
    height: 31px;
}

.panel-body small {
    color: #00b0ff
}

.email {
    color: #00b0ff
}

.panel-body a {
    color: #00b0ff
}

.email-two {
    color: #00b0ff
}

.instagram {
    color: #00b0ff
}

.skype {
    color: #00b0ff
}

.imessage {
    color: #00b0ff
}

.snapchat {
    color: #00b0ff
}

.phone {
    color: #00b0ff
}

.kik {
    color: #00b0ff
}

.footer {
    text-align: center;
    align-content: center;
    align-items: center;
    background-color: #d3d3d3
}

html {
    align-content: center;
    position: relative;
    min-height: 100%;
}

body {
    margin: 0 0 25px; /* bottom = footer height */
    padding-top: 40px; 
}

footer {
    position: absolute;
    left: 0;
    bottom: 10px;
    height: 10px;
    width: 100%;
    text-align: center;
    color: #393c3d
}

footer a {
    color: #505353;
}

nav {
    background-color: #fff;
    outline: 1px solid #dbdbdb;
}

.navbar-brand {
    color: #393c3d;
}

.navbar-custom .navbar-nav > li > a:hover, .nav > li > a:focus {
    color: #393c3d;
	background-color: #dbdbdb;
    border: 1px solid #dbdbdb;
    border-radius: 3px;
    margin-top: 6%;
    text-align: center;
    padding: 8px;
    justify-content: center;
    align-self: center;
    float: none;
}

.navbar-custom .navbar-nav > .active > a, .navbar-nav > .active > a:hover, .navbar-nav > .active > a:focus {
    color: #393c3d;
	background-color: #dbdbdb;
    border: 1px solid #dbdbdb;
    border-radius: 3px;
    margin-top: 6%;
    text-align: center;
    padding: 8px;
    justify-content: center;
    align-self: center;
    float: none;
}

.navbar-toggle {
    color: #393c3d;
    outline: #393c3d;
    border: 1px solid #dbdbdb;
    /* background-color: #dbdbdb; */
}

.icon-bar {
    color: #dbdbdb;
    border: 1px solid #dbdbdb;
}